<%
   require 'cgi'
   include ERB::Util

   page = ENV["page"]
   x = CGI.escape(page)
   url = "https://github.com/bioruby/documents/wiki/#{x}"
   h_url = h(url)

%><html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Refresh" content="0;URL=<%= h_url %>">
<title>wiki/<%= h(page) %> have been moved to <%= h_url %></title>
</head>
<body>
<p>wiki/<%= h(page) %> have been moved to <a href="<%= h_url %>"><%= h_url %></a></p>
</body>
